DBT_PROFILES_DIR=.
REDSHIFT_HOST=ibdata-sbx-ew1-rshf-srvlss-finet.sbx.data.iberia.com
REDSHIFT_PORT=5439
REDSHIFT_DBNAME=finet
REDSHIFT_USERNAME=<USERNAME>
REDSHIFT_PASSWORD=<PASSWORD>
REDSHIFT_SCHEMA=finance_staging
# DBT_MATERIALIZATION=view
